
body{
  margin: 0;
  text-align: center;
  /*use font stack and cpy backups*/
  font-family: 'Merriweather', serif;
}



h1{
margin-top: 0;
font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #6FDFDF;
  padding-top: 100px;
  position: relative;
}

.middle-container{

  padding: 50px;
}

.bottom-container{
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

img{
  width: 400px;
}
